<div class="contener px-5">
  <div class="row">
    <div class="col-md-2" style="margin-left: 110px; margin-right: 130px;">
      <%= render "public/items/genre", genre: @genres %>
    </div>
    <div class="d-flex justify-content-center">
      <div class="card">
        <%= image_tag 'top_image.jpg', :size => '800x500', class:'card-img'%>
        <div class="card-img-overlay d-flex">
          <div class="m-auto">
            <div class="border border-dark bg-white bg-opacity-10" style="padding:10px">
              <p class="text-center">ようこそ、ながのCAKEへ！</p>
              <p class="text-center">このサイトは、ケーキ販売のECサイトになります.</p>
              <p class="text-center">会員でない方も商品の閲覧はできますが、</p>
              <p class="text-center">購入には会員登録が必要になります。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <h1>新着商品</h1>
      <div class="container">
        <div class="row">
          <ul class="mx-auto">
            <% @new_items.each do |item| %>
              <%= link_to item_path(item) do %>
                <p class="img"><%= image_tag item.item_image, size: '400x200' %></p>
              <% end %>
              <p><%= item.name %></p>
              <p>¥<%= item.price.to_s %></p>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="text-right">
        <%= link_to 'すべての商品を見る', items_path %>
      </div>
    </div>
  </div>
</div>
