<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>注文履歴詳細</h2>
      <table>
        <tbody>
          <tr>
            <th><strong>購入者</strong></th>
            <th><%= @order.customer.name %></th>
          </tr>
          <tr>
            <th><strong>注文日</strong></th>
            <th><%= @order.created_at.strftime('%Y/%m/%d') %></th>
          </tr>
          <tr>
            <th><strong>配送先</strong></th>
            <th><%= @order.order_address_display%><%= @order.name %></th>
          </tr>
          <tr>
            <th><strong>支払方法</strong></th>
            <th><%= @order.payment_method_i18n %></th>
          </tr>
          <tr>
            <th><strong>注文ステータス</strong></th>
            <th>
              <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
                <%= f.collection_select :status, Order.statuses.keys, :status, Order.statuses_i18n, {selected: @order.status}%>
                <%= f.submit '更新', class:'btn btn-success' %>
              <% end %>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0">
      <table>
        <thread>
          <tr>
            <th><strong>商品名</strong></th>
            <th><strong>単価（税込）</strong></th>
            <th><strong>数量</strong></th>
            <th><strong>小計</strong></th>
            <th><strong>制作ステータス</strong></th>
          </tr>
        </thread>
        <tbody>
          <%= @order_items.each do |order_item| %>
            <tr>
              <th><%= order_item.item.name %></th>
              <th><%= order_item.price%></th>
              <th><%= order_item.quantity %></th>
              <th><%= order_item.price * order_item.quantity %></th>
              <th>
                <%= form_with model: order_item, url: admin_order_order_item_path do |f| %>
                  <%= f.collection_select :making_status, OrderItem.making_statuses.keys, :making_status, OrderItem.making_statuses_i18n, {selected: order_item.making_status}%>
                  <%= f.submit '更新', class:'btn btn-success' %>
                <% end %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 px-sm-0">
      <strong>商品合計　</strong><%= @order.total_price.to_s + '円' %>
      <strong>送料　</strong><%= @order.postage.to_s + '円' %>
      <strong>請求金額合計　<%= @order.order_price.to_s %>円</strong>
    </div>
  </div>
</div>