
  <span style="background-color:#DCDCDC">　ログイン　</span><br>
    


  <span style="background-color:#DCDCDC">　会員の方はこちらからログイン　</span>
    

  <%= form_with(model: resource, scope: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <%= f.password_field :encrypted_password, autocomplete: "current-password" %>
  </div>

     <%= link_to 'ログイン',root_path, class: "btn btn-success" %>

<% end %>


      <span style="background-color:#DCDCDC">　会員登録がお済みでない方　</span><br>
    

<%= render "public/shared/links" %>から新規登録を行ってください。





